<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      about
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button [routerLink]="['/home']">
    back
  </ion-button>
  <ion-row>
    <ion-col size="12" size-sm style="background: tomato">
      12
    </ion-col>
    <ion-col size="12" size-sm>
      <ion-row>
        <ion-col size="6" size-sm style="background: teal">6</ion-col>
        <ion-col size="6" size-sm style="background: violet">6</ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="4" size-sm>
      4
    </ion-col>
    <ion-col size="4" size-sm>
      4
    </ion-col>
    <ion-col size="4" size-sm>
      4
    </ion-col>
    <ion-col size="3" size-sm>
      3
    </ion-col>
    <ion-col size="3" size-sm>
      3
    </ion-col>
    <ion-col size="3" size-sm>
      3
    </ion-col>
    <ion-col size="3" size-sm>
      3
    </ion-col>
  </ion-row>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>



  ionic cordova run android
</ion-content>