<ion-tabs>
  <ion-tab label="Perfil" icon="md-contact" href="menu-usuario/menu/(perfil:perfil)">
    <ion-router-outlet name="perfil"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Asistencia" icon="md-qr-scanner" href="menu-usuario/menu/(asistencia:asistencia)">
    <ion-router-outlet name="asistencia"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Calendario" icon="md-calendar" href="menu-usuario/menu/(calendario:calendario)">
    <ion-router-outlet name="calendario"></ion-router-outlet>
  </ion-tab>
</ion-tabs>