<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>JISIC 2018</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-tabs>
    <ion-tab label="Perfil" icon="person">      
    </ion-tab>
    <ion-tab label="Asistencia" icon="clipboard">
    </ion-tab>
    <ion-tab label="Calendario">

    </ion-tab>
  </ion-tabs>

</ion-content>