<ion-header>
  <ion-toolbar>
    <ion-title>
      JISIC 2018
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col size="12" size-sm>
      imgen
      <!-- <img src="" alt=""> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" size-sm></ion-col>
    <ion-col size="6" size-sm>
      <app-fomularios (enviarCredenciales)="credenciales($event)"></app-fomularios>
      <ion-row>
        <ion-col size="12" size-sm>
          <button class="btn btn-outline-success btn-block btn-sm" (click)="ingresarUsuario()">Ingresar</button>
        </ion-col>
        <ion-col size="12" size-sm>
          <button class="btn btn-outline-warning btn-block btn-sm" [routerLink]="['/inivitado']">Invitado</button>
        </ion-col>
        <ion-col size="12" size-sm>
          <button class="btn btn-outline-primary btn-block btn-sm" [routerLink]="['/about']">Fb</button>
        </ion-col>
        <ion-col size="12" size-sm>
          <button class="btn btn-outline-danger btn-block btn-sm" [routerLink]="['/about']">Google</button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="3" size-sm></ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Img</ion-title>
  </ion-toolbar>
</ion-footer>