<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      about
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment>
    <ion-segment-button>
      Perfil
    </ion-segment-button>
    <ion-segment-button>
      Asistencia
    </ion-segment-button>
    <ion-segment-button>
      Calendario
    </ion-segment-button>
  </ion-segment>
</ion-content>
<ion-content></ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>